name: Build
on:
  pull_request:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-24.04
    name: Build

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build
        run: |
          make build
