name: Publish to GH Pages
on:
  push:
    branches: [main]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-24.04
    name: Build Release

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build
        run: |
          mkdir dist/ # 'make release' will put the compiled assets into it
          make build release
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: dist/

  deploy:
    runs-on: ubuntu-24.04
    name: Open Pull Request
    needs: [build]

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
